.sidebar{
    width: 5rem;
    height: 90vh;
    position: absolute;
    top: 4rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    top: 4rem;
    left: 0;
}

.sidebar .sidebar-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.5rem 0;
    
}

.sidebar .sidebar-icons:hover{
    background-color: rgb(242, 239, 239);
    cursor: pointer;

}

.sidebar-icon{
    font-size: 1.5rem;
}

.sidebar-icon-info{
    font-size: 0.6rem;
}